VITE_API_ENDPOINT=http://localhost:1337
VITE_API_URL=http://localhost:1337
VITE_DATA_PROVIDER=strapi
VITE_NODE_ENV=development
VITE_MAILER_ENDPOINT=http://localhost:1337/api/mailer/send-email
VITE_EVENTS_ENDPOINT=https://orwa.org/wp-json/tribe/events/v1
VITE_API_GOOGLE_MAPS_KEY=your-google-maps-api-key
VITE_EVENT_USER=events-user@example.com
VITE_EVENT_PASSWORD=your-event-password
VITE_TINY_MC_KEY=your-tinymce-api-key
VITE_API_KEY=your-strapi-api-token
